# dependencies
/node_modules
**/node_modules

# build outputs
/dist
/out

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
packages/cli/.npm-cache/

# OS junk
.DS_Store
Thumbs.db

# VSCode workspace
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# emulators
tools/
tools/emulator/*
tools/sjasmplus/*
tools/sjasmplus-bin/*
tools/z88dk-bin/*
tools/z88dk-win32-2.4.zip

# temporary files
.tmp/
**/.tmp/
packages/cli/.tmp/
packages/cli/dist-exe/
packages/cli/.tmp_peg_compare/
**/.tmp_tests
**/.tmp_tests/**
*.tmp_*
**/.tmp_*
packages/cli/src/assembler/rel/__tests__/.tmp.rel

# local outputs
DUMP.ASM
DUMP.COM
DUMP.HEX
DUMP.PRN
SUM.BBC
*.code-workspace
packages/cli/*.bin
packages/cli/*.lst
packages/cli/*.rel
packages/cli/*.sym
packages/cli/examples/linktest/*.bin
packages/cli/examples/linktest/*.log
packages/cli/examples/linktest/*.lst
packages/cli/examples/linktest/*.map
packages/cli/examples/linktest/*.rel
packages/cli/examples/linktest/*.sym
examples/hello/build/
examples/hello/dist/
examples/hello-msx/dist/
examples/hello-msx/*.rel
examples/cpm2-asm/*.bin
examples/p1-c/*.rel.bin


# external imported examples
examples/Z80-Optimized-Routines/*
examples/bbcbasic-z80/*
examples/z80float/*
examples/z80test/*
examples/cpm2-asm/*
examples/cpm2-plm/*
