# dependencies
/node_modules
**/node_modules

# build outputs
/dist
/out

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# VSCode workspace
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# emulators
tools/emulator/*
tools/sjasmplus/*
tools/sjasmplus-bin/*
tools/z88dk-bin/*
tools/z88dk-win32-2.4.zip

# temporary files
**/.tmp_tests
**/.tmp_tests/**
*.tmp_*
**/.tmp_*

# external imported examples
examples/Z80-Optimized-Routines/*
examples/bbcbasic-z80/*
examples/z80float/*
examples/z80test/*
examples/cpm2-asm/*
examples/cpm2-plm/*